* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body {
    font-family: "微软雅黑";
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.div-in {
    width: 1225px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}