*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}
body{
    font-family: "微软雅黑";
    overflow-x: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}